.second-f-section {
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 64px;
  margin: 96px 112px;
}

.second-f-section-info {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second-f-section-body {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.second-f-section-aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.second-f-section-accordion > h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 1px 0;
  line-height: 28px;
}

.second-f-section-accordion > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin: 0 0;
  padding-top: 12px;
  padding-right: 5px;
}

.second-f-section-card {
  border-left: 4px solid #4f46e5;
  max-width: 592px;
  padding-left: 24px;
  padding: 24px 96px 24px 24px;
  display: flex;
}
.second-f-section-aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-f-section-card > h3 {
  color: #475569;
  width: 100%;
}

.second-f-image {
  width: 100%;
  max-height: 592px;
}
