<link rel="stylesheet" href="/styles/styles.css" />
<link
  rel="stylesheet"
  href="/components/SecondFeatureSection/secondFeature.css"
/>
<section class="second-f-section">
  <div class="second-f-section-info">
    <h3 class="section-subtitle" style="margin: 0 0 24px 0">Who is it for?</h3>
    <h2 class="section-title" style="margin: 0 0 16px 0">
      What the procrastinators say
    </h2>
    <p class="section-description" style="margin: 0; text-align: start">
      Mi ipsum faucibus vitae aliquet nec. At tempor commodo ullamcorper a
      lacus. Bibendum at varius vel pharetra vel.
    </p>
  </div>
  <div class="second-f-section-body">
    <aside id="second-f-cards" class="second-f-section-aside"></aside>
    <div class="second-f-image">
      <img src="/assets/second-features.png" alt="" />
    </div>
  </div>
</section>
