<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/components/OfficeSection/office.css" />

<section class="office-section">
  <div class="office-section-info">
    <h3 class="section-subtitle" style="margin: 0">Visit Us Anytime</h3>
    <h2 class="section-title" style="margin: 0">Our Office</h2>
    <p
      class="section-description"
      style="margin: 0; text-align: start; font-size: 18px"
    >
      You can visit our office anytime but please don’t stalk us or don’t be
      creepy.
    </p>
  </div>
  <div class="office-card-container">
    <div class="office-card">
      <img src="/assets//MapPin.png" alt="" />
      <h5 style="margin: 16px 0 0 0">Japan</h5>
      <p style="margin: 0">
        221b Banzai Street <br />
        Tokyo, TO 77812
      </p>
    </div>
    <div class="office-card">
      <img src="/assets//MapPin.png" alt="" />
      <h5 style="margin: 16px 0 0 0">USA</h5>
      <p style="margin: 0">
        221b Freedom Street<br />
        New York, NY 21231
      </p>
    </div>
    <div class="office-card">
      <img src="/assets//MapPin.png" alt="" />
      <h5 style="margin: 16px 0 0 0">Canada</h5>
      <p style="margin: 0">
        221b Maple Syrup Street <br />
        Ottawa, OW 77847
      </p>
    </div>

    <div class="office-card">
      <img src="/assets//MapPin.png" alt="" />
      <h5 style="margin: 16px 0 0 0">South Korea</h5>
      <p style="margin: 0">
        221b Samyang Street <br />
        Gangnam, GM 22124
      </p>
    </div>
  </div>
</section>
