<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/components/StatisticsSection/statistics.css" />

<section class="statistics-section">
  <div>
    <div class="home-icon-container">
      <a href="#" class="stat-icon">
        <img src="/assets/home.png" alt="" />
      </a>
    </div>
    <div class="section-info">
      <h2 class="section-title" style="margin: 20px auto">
        Work lazily and achieve the result you want.
      </h2>
      <p class="section-description">
        Liquam id diam maecenas ultricies mi eget mauris pharetra et. Feugiat
        pretium nibh ipsum consequat nisl vel pretium lectus. Fermentum iaculis
        eu non diam.
      </p>
    </div>
  </div>
  <div class="stat-chart">
    <div class="chart-card">
      <h1>420%</h1>
      <p>Data Efficiency</p>
    </div>
    <hr id="hr" />
    <div class="chart-card">
      <h1>708+</h1>
      <p>Conversion Rate</p>
    </div>
    <hr id="hr" />
    <div class="chart-card">
      <h1>1.82M</h1>
      <p>AI LLM Scale</p>
    </div>
  </div>
</section>
