<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/components/FQA/FQA.css" />

<section class="FQA-section">
  <div class="FQA-info">
    <h3 class="section-subtitle">FAQ</h3>
    <h2 class="section-title" style="margin: 0 auto">
      Frequently Asked Questions
    </h2>
    <p class="section-description" style="font-size: 18px; padding-top: 0.5px">
      Fermentum iaculis eu non diam phasellus vestibulum. Volutpat commodo sed
      egestas egestas fringilla phasellus. Donec ac odio tempor orci dapibus
      ultrices.
    </p>
  </div>
  <div>
    <div class="accordion">
      <div class="contentbx">
        <div class="label">
          Elit pellentesque habitant morbi tristique senectus?
        </div>
        <div class="content">
          <p>
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <div class="contentbx">
        <div class="label">
          Elit pellentesque habitant morbi tristique senectus?
        </div>
        <div class="content">
          <p>
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <div class="contentbx">
        <div class="label">
          Elit pellentesque habitant morbi tristique senectus?
        </div>
        <div class="content">
          <p>
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <script src="/js/utils/FQA.js"></script> -->
