<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/components/DownloadAppSection/downloadApp.css" />

<section class="download-app-section">
  <div class="app-container">
    <div class="download-app-content">
      <h2>Let’s Download The App.</h2>
      <p>Velit scelerisque in dictum non consectetur. Felis eget velit aliquet sagittis. Ultricies integer quis auctor elit sed vulputate mi. Massa id neque aliquam vestibulum morbi blandit cursus.</p>
      <div class="download-app-buttons">
        <button class="btn-learn-more"  style="margin-right: ;">Learn More</button>
          <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <div class="download-app-image">
      <img class="download-img-1" src="/assets/download app/downloadmockup1.png" alt="Download App" />   
      <img  class="download-img-2" src="/assets/download app/downloadmockup2.png" alt="Download App" />   
  </div>
</section>
