<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/components/TestimonialsSection/testimonial.css" />

<section class="testimonial-section">
  <div class="testimonial-info">
    <h3 class="section-subtitle" style="padding: 4px 10px">Testimonials</h3>
    <h2 class="section-title" style="margin: 0 auto">What People Say</h2>
    <p class="section-description" style="font-size: 18px">
      You can visit our office anytime but please don’t stalk us or don’t be
      creepy.
    </p>
  </div>
  <div class="testimonial-card-container"></div>
</section>
